@import "../../shared/colors";

.header {
  background: $white;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.64);
  .header__logo {
    width: 75px;
    img {
      width: 100%;
    }
  }
  .header__menu {
    display: flex;
    .header__menu-item {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
  }
  .header-notifications {
    &:hover {
      cursor: pointer;
    }
    .header-notifications__count {
      position: absolute;
      top: 0;
      right: -5px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      display: flex;
      background: $red;
      color: $white;
      width: 15px;
      font-size: 10px;
      height: 15px;
    }
    .header-notifications__list {
      position: absolute;
      bottom: -80px;
      width: 200px;
      z-index: 1;
      border-radius: 10px;
      box-sizing: border-box;
      padding: 20px;
      background: $ice;
      .header-notifications__list-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .header-user {
    margin-left: auto;
    .header-user__name {
      width: 100%;
      text-align: center;
    }
  }
  .header-exit {
    * {
      transition: .3s all;
    }
    .header-exit__name {
      width: 100%;
      text-align: center;
    }
    &:hover {
      cursor: pointer;
      * {
        color: $red;
      }
    }
  }
}


.hero-logo {
  flex: 0 0 500px;
  background-repeat: no-repeat;
  background-image: url(//github-atom-io-herokuapp-com.global.ssl.fastly.net/assets/index-logo-9fb707770c2c8a018b7a2933906c3436.svg),url(//github-atom-io-herokuapp-com.global.ssl.fastly.net/assets/index-portal-sides-7d999cb5d5762880eef4ede55549d5c6.svg);
  background-position: center;
  background-size: 30px;
  -webkit-user-select: none;
  user-select: none
}

.hero-logo-circles {
  width: 75px;
  height: 75px;
  margin: auto;
  position: relative
}

.hero-logo-circle {
  position: absolute;
  left: 0;
  top: 0;
  animation: hero-logo-circle 1s linear infinite;
  will-change: transform
}

.hero-logo-circle:nth-child(1) {
  animation-duration: 30s
}

.hero-logo-circle:nth-child(2) {
  animation-duration: 40s
}

.hero-logo-circle:nth-child(3) {
  animation-duration: 50s
}

.hero-logo-circle:nth-child(4) {
  animation-duration: 60s
}

.hero-logo-circle:nth-child(5) {
  animation-duration: 70s
}

.hero-logo-circle:nth-child(6) {
  animation-duration: 80s
}

.hero-logo-circle:nth-child(7) {
  animation-duration: 90s
}

.hero-logo-circle:nth-child(8) {
  animation-duration: 100s
}

.hero-logo-circle:nth-child(9) {
  animation-duration: 110s
}

.hero-logo-circle:nth-child(10) {
  animation-duration: 120s
}

@keyframes hero-logo-circle {
  100% {
    transform: rotate(1turn)
  }
}

