@import "../../../../shared/colors";

.searchResult__result {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .searchResult__order {
    margin-right: 10px;
  }
  .searchResult__button {
    margin-left: 20px;
    &:hover {
      cursor: pointer;
      i {
        color: $water;
      }
    }
    i {
      transition: .3s all;
    }
  }
}