@import "./shared/colors";

* {
  font-family: 'Montserrat', sans-serif !important;
}

a {
  color: $water;
  font-size: 14px;
  text-transform: lowercase;
}

.form {
  max-width: 480px;
  width: 100%;
  .input-wrap {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 20px;
    }
    &.error {
      input {
        border: 1px solid $red;
      }
      label {
        color: $red;
      }
    }
    input {
      width: 100%;
      height: 40px;
      padding-left: 100px;
      transition: .3s all;
      font-size: 15px;
      border: 1px solid transparent;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 1px solid $water;
      }
    }
    label {
      font-size: 12px;
      text-transform: lowercase;
      position: absolute;
      left: 20px;
      transition: .3s all;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.error-text {
  color: $red;
  font-size: 12px;
  text-transform: lowercase;
  width: 100%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 10px 20px;
  box-sizing: border-box;
  transition: .3s all;
  background: $water;
  color: $white;
  outline: none;
  border: 1px solid $water;
  &:hover {
    background: $white;
    color: $water;
    cursor: pointer;
  }
}

